cachetools==5.5.0
catboost==1.2.7
category-encoders==2.6.3
imbalanced-learn==0.12.3
matplotlib==3.7.5
matplotlib-inline @ file:///work/ci_py311/matplotlib-inline_1676823841154/work
numpy==1.26.4
pandas==2.1.4
scikit-learn==1.4.2
scipy==1.11.4
seaborn==0.13.2
xgboost==2.1.1
